name: Build Docs
on:
  workflow_call:

jobs:
  build-docs:
    runs-on: ubuntu-22.04

    env:
      GH_TOKEN: "${{ secrets.GITHUB_TOKEN}}"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up PDM
        uses: pdm-project/setup-pdm@v4
        with:
          cache: true

      - name: Install deps
        run: pdm install

      - name: Build docs
        run: pdm docs

      - name: Upload docs artifact
        uses: actions/upload-artifact@v4
        with:
          name: docs
          path: docs/build

